
<footer class="footer">
  <a href="https://twitter.com/{{site.author.twitter}}"><i class="fa fa-twitter" aria-hidden="true" target="_blank"></i></a>
  <a href="https://www.facebook.com/deborah.hanus"><i class="fa fa-facebook" aria-hidden="true" target="_blank"></i></a>
<!--   <a href="https://instagram.com/{{ site.author.instagram }}"><i class="fa fa-instagram" aria-hidden="true" target="_blank"></i></a> -->
  <a href="https://linkedin.com/in/deborahhanus"><i class="fa fa-linkedin" aria-hidden="true" target="_blank"></i></a>
  <a href="mailto:dhanus@mit.edu"><i class="fa fa-envelope" aria-hidden="true" target="_blank"></i></a>
  <div class="post-date"><a href="{{ site.github.url }}/about.html">Copyright 2017 by Deborah Hanus</a></div>
</footer>
